* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: ghostwhite;
}
.calculator {
  padding-top: 1rem;
  width:50%;
  margin: 0 auto;
}

.btnarea {
  margin-top: 0.5rem;
  text-align: center;
}
.btnarea>div {
  margin: 0.25rem auto 0;
}
.box {
  display: block;
  width: 70%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.2rem;
}

button {
  margin-right: 0.1rem !important;
  height: 1rem;
  width: 1.5rem;
  background-color: lightblue;
  border: 1px solid gray;
  border-radius: 0.2rem;
  font-size: 0.6rem;
}

.zero, .dot {
  width: 2.3rem;
}
.equal {
  width: 1.5rem;
  height: 2.25rem;
}

@media screen and (max-width: 768px) {
  .calculator {
    width: 90%;
  }
  .box {
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .calculator {
    width: 60%;
  }
  .box {
  width: 100%;
  }
}


